<div class="main">
    
    <section class="web__wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h1 class="heading">web design & <br><span>Development</span></h1>
                        <p class="para">
                            Web development tools helps the developer to test and debug the web sites. Now a days the web development tooll come with the web browsers as add-ons.<br> All web browsers have built in tools for this purpose.
                      
                            Thsese tools allow the web developer to use HTML, CSS and JavaScript etc.. <br> These are accessed by hovering over an item on a web page and selecting the “Inspect Element” from the context menu.
                                         
                        </p>
                        <button class="cn"><a routerLink="register">Register to join us</a></button>
                
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
